<ng-container *ngIf="member">
	<div *ngIf="userOffices && userOffices.length">
		<span>Viewing as office:</span>
		<span *ngIf="userOffices.length==1 || editing">{{userOffices[0].name}}</span>
		<select *ngIf="userOffices.length>1 && !editing" [(ngModel)]="selectedOffice">
			<option *ngFor="let officeOption of userOffices" [ngValue]="officeOption">{{officeOption.name}}</option>
		</select>
	</div>
	<h1>{{member.nickname}}</h1>
	<button type="button" class="btn btn-primary" *ngIf="member.id==hubService.currentUserId" (click)="editUserModal(editTemplate)">Edit</button>
	<button type="button" class="btn btn-primary" *ngIf="member.id==hubService.currentUserId" (click)="editPasswordModal(passwordTemplate)">Change Password</button>
	<ul style="list-style-type: none;" *ngIf="!editing">
		<li *ngIf="member.fullName"><label>Full Name:</label> <span>{{member.fullName}}</span></li>
		<li><label *ngIf="!member.fullName">Name:</label><label *ngIf="member.fullName">Preferred Name:</label> <span>{{member.nickname}}</span></li>
		<li *ngIf="member.email"><label>Email:</label> <a href="mailto:{{member.email}}"><span>{{member.email}}</span></a></li>
		<li *ngIf="member.address"><label>Address:</label> <span>{{member.address}}</span></li>
		<li><label>Membership Type:</label> <span>{{member.membershipType}}</span>
		<button type="button" class="btn btn-primary" *ngIf="member.membershipType=='None' && selectedOffice?.roles && selectedOffice.roles.indexOf('user_approve') !== -1" (click)="confirmModal(approveConfirm)">Approve Membership</button>

		</li>
		<li *ngIf="member.membershipNumber"><label>Membership #:</label> <span>{{member.membershipNumber}}</span></li>
		<li *ngIf="member.membershipNumber"><label>Expiration:</label> <span>{{member.membershipExpiration}}</span></li>
		<li><label>Location:</label>
			<span *ngIf="!member.orgUnit">None</span>
			<span *ngIf="member.orgUnit"><a [routerLink]="['/locations',member.orgUnit.id]">{{member.orgUnit.name}} ({{member.orgUnit.code}})</a></span>
		</li>
	</ul>
	<button type="button" class="btn btn-primary" *ngIf="selectedOffice?.roles && selectedOffice.roles.indexOf('user_assign') !== -1" (click)="transferModal(transferTemplate)">Transfer</button>
	<div *ngIf="editing">
		
	</div>
	<div *ngIf="member.offices && member.offices.length"><h1>Offices</h1>
		<ul style="list-style-type: none;">
			<li *ngFor="let office of member.offices">
				<span>{{office.name}} ({{office.type}}), <a [routerLink]="['/locations',office.unit.id]">{{office.unit.name}} ({{office.unit.code}})</a></span>
				<span *ngIf="office.email"><a href="mailto:{{office.email}}">{{office.email}}</a></span>
			</li>
		</ul>
	</div>
	<ng-template #transferTemplate>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Transfer {{member.nickname}}</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="doneTransfer()">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<app-member-transfer *ngIf="isTransferring" [member]="member" [officer]="selectedOffice" (result)="doneTransfer($event)"></app-member-transfer>
	</div>
</ng-template>
<ng-template #approveConfirm>
	<div class="modal-body text-center">
		<p>Are you sure you approve this person's membership?</p>
		<button type="button" class="btn btn-default" (click)="approveMembership()" >Yes</button>
		<button type="button" class="btn btn-primary" (click)="confirmModalRef.hide()">No</button>
	</div>
</ng-template>

<ng-template #editTemplate>
	<ng-container *ngIf="editModel">
		<div class="modal-header">
			<h4 class="modal-title pull-left">Manually Add New Member</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="editModalRef.hide()">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="signupName">Name</label>
			<div class="col-sm-9"><input id="signupName" type="text" maxlength="50" class="form-control" aria-describedby="nameHelpBlock"
				   [(ngModel)]="editModel.name" [ngModelOptions]="{standalone: true}"></div>
			<small id="nameHelpBlock" class="form-text text-muted">Use your full name, for member tracking purposes.</small>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="signupNickname">Preferred Name</label>
			<div class="col-sm-9"><input id="signupNickname" type="text" maxlength="50" class="form-control" aria-describedby="nicknameHelpBlock"
				   [(ngModel)]="editModel.nickname" [ngModelOptions]="{standalone: true}"></div>
			<small id="nicknameHelpBlock" class="form-text text-muted">Use Preferred name for how you'd like to be displayed to other users.</small>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="signupStreetAddress">Address</label>
			<div class="col-sm-9"><input id="signupStreetAddress" type="text" maxlength="25" class="form-control"
				   placeholder="at least 6 characters" length="40" [(ngModel)]="editModel.addressInfo.street_address"
				   [ngModelOptions]="{standalone: true}"></div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="signupCity">City</label>
			<div class="col-sm-9"><input id="signupCity" type="text" maxlength="25" class="form-control"
				   placeholder="Anytown" length="40" [(ngModel)]="editModel.addressInfo.locality"
				   [ngModelOptions]="{standalone: true}"></div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="signupState">State</label>
			<div class="col-sm-9"><input id="signupState" type="text" maxlength="25" class="form-control"
				   placeholder="NJ" length="10" [(ngModel)]="editModel.addressInfo.region"
				   [ngModelOptions]="{standalone: true}"></div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="signupPostal">Zipcode</label>
			<div class="col-sm-9"><input id="signupPostal" type="text" maxlength="25" class="form-control"
				   placeholder="12345" length="10" [(ngModel)]="editModel.addressInfo.postal_code"
				   [ngModelOptions]="{standalone: true}"></div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="signupCountry">Country</label>
			<div class="col-sm-9"><input id="signupCountry" type="text" maxlength="25" class="form-control"
				   placeholder="United States" value="United States" length="20" [(ngModel)]="editModel.addressInfo.country"
				   [ngModelOptions]="{standalone: true}"></div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="signupBirthdate">Birthdate</label>
			<div class="col-sm-9"><input id="signupBirthdate" type="text" maxlength="25" class="form-control"
				   placeholder="1901-01-31" length="20" [(ngModel)]="editModel.birthdate"
				   [ngModelOptions]="{standalone: true}"></div>
		</div>
			
			<div class="text-center">
				<button type="button" class="btn btn-primary" (click)="editUser()">Save Changes</button>
				<button type="button" class="btn btn-secondary" (click)="editModalRef.hide()">Cancel</button>
			</div>
		</div>
	</ng-container>
</ng-template>

<ng-template #passwordTemplate>
	<ng-container *ngIf="passwordChangeModel">
		<div class="modal-header">
			<h4 class="modal-title pull-left">Change Password</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="editModalRef.hide()">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="editCurrentPassword">Current Password</label>
			<div class="col-sm-9"><input id="editCurrentPassword" type="password" maxlength="50" class="form-control"
				 [(ngModel)]="passwordChangeModel.oldPassword" [ngModelOptions]="{standalone: true}"></div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="editNewPassword">New Password</label>
			<div class="col-sm-9">
				<input id="editNewPassword" type="password" class="form-control" aria-describedby="passwordHelpBlock"
				minlength="8" maxlength="50" required pattern="^(?=.*[a-zA-Z])(?=.*\d).*$"
				[(ngModel)]="passwordChangeModel.newPassword" [ngModelOptions]="{standalone: true}" #passwordField="ngModel">
				<small id="passwordHelpBlock" class="form-text text-muted">Passwords must be at least 8 characters, with both letters and numbers</small>
				<div *ngIf="(passwordField.dirty || passwordField.touched)"
				class="alert alert-secondary">
					<div>
						<i *ngIf="passwordChangeModel.newPassword && !passwordField.errors?.minlength && !passwordField.errors?.maxlength" class="material-icons" style="color:green">done</i>
						<i *ngIf="!passwordChangeModel.newPassword || passwordField.errors?.minlength || passwordField.errors?.maxlength" class="material-icons" style="color:red">clear</i>
						<span>At least 8 characters</span>
					</div>
					<div>
						<i *ngIf="passwordChangeModel.newPassword && !passwordField.errors?.pattern" class="material-icons" style="color:green">done</i>
						<i *ngIf="!passwordChangeModel.newPassword || passwordField.errors?.pattern" class="material-icons" style="color:red">clear</i>
						<span>Contains both numbers and letters</span>
					</div>
					
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="editConfirmPassword">Confirm New Password</label>
			<div class="col-sm-9"><input id="editConfirmassword" type="password" class="form-control"
				minlength="8" maxlength="50" validateEqualTo="passwordChangeModel.newPassword"
				[(ngModel)]="passwordChangeModel.confirmPassword" [ngModelOptions]="{standalone: true}" #confirmPasswordField="ngModel">
				<div *ngIf="(confirmPasswordField.dirty || confirmPasswordField.touched)"
				class="alert alert-secondary">
					<div>
						<i *ngIf="passwordChangeModel.confirmPassword == passwordChangeModel.newPassword" class="material-icons" style="color:green">done</i>
						<i *ngIf="passwordChangeModel.confirmPassword != passwordChangeModel.newPassword" class="material-icons" style="color:red">clear</i>
						<span>Matches New Password</span>
					</div>
					
				</div>	 
			</div>
		</div>
		
			
			<div class="text-center">
				<button type="button" class="btn btn-primary" (click)="editUser()">Save Changes</button>
				<button type="button" class="btn btn-secondary" (click)="editModalRef.hide()">Cancel</button>
			</div>
		</div>
	</ng-container>
</ng-template>
</ng-container>