<h1>Welcome to WPI Member Services</h1>
<div *ngIf="hubResponse">
	<div *ngIf="!hubUser">
		<p><strong>NOTE: Accounts have changed.</strong> If you were previously logging in directly within the Services Hub without being sent to Auth0, you'll need to register a new account. You current info will be automatically associated.</p>
		<p>If you already have an account, <a routerLink="/auth/login">login.</a></p>
		<p>If you don't have an account, <a routerLink="/auth/register">register</a></p>
		<p>If you became a WPI member before this system was launched, you'll need to make an account if you haven't already. If you register with the same email you used to apply for membership, your membership will automatically be associated to your account.</p>
	</div>
	<div *ngIf="hubUser">
		<p>Hello {{hubUser.nickname}}!</p>
		
		<p *ngIf="hubUser.membershipType=='Full' || hubUser.membershipType=='None' || hubUser.membershipType=='Pending' || hubUser.membershipType=='Suspended'">
			You can access the member list and location pages using the menu at the top left.
		</p>
		<p *ngIf="hubUser.membershipType=='None'">
			You are not currently a WPI member. View information on your membership status in <a [routerLink]="['/members',hubUser.id]">your profile</a>.
		</p>
		<p *ngIf="hubUser.membershipType=='Pending'">
			Your WPI membership application is currently pending. View information on your membership status in <a [routerLink]="['/members',hubUser.id]">your profile</a>.
		</p>
		<p *ngIf="hubUser.membershipType=='Suspended'">
			Your WPI membership is currently suspended. View information on your membership status in <a [routerLink]="['/members',hubUser.id]">your profile</a>.
		</p>
		<p *ngIf="hubUser.membershipType=='Full'">
			View information on your WPI Membership in <a [routerLink]="['/members',hubUser.id]">your profile</a>.
		</p>
		<p *ngIf="hubUser.membershipType=='Resigned'">
			You have resigned your WPI Membership. View information on your membership status in <a [routerLink]="['/members',hubUser.id]">your profile</a>.
		</p>
		<p *ngIf="hubUser.membershipType=='Uninvited'">
			You have been Uninvited from WPI membership and events. View information on your status in <a [routerLink]="['/members',hubUser.id]">your profile</a>.
		</p>
		<p *ngIf="hubUser.membershipType=='Expelled'">
			Your have been expelled from WPI. View information on your status in <a [routerLink]="['/members',hubUser.id]">your profile</a>.
		</p>
	</div>
</div>