<div *ngIf="office" class="modal-header">
	<h4 class="modal-title">{{office.name}}</h4>
	<div *ngIf="userOffices && userOffices.length">
		<span>Viewing as office:</span>
		<span *ngIf="userOffices.length==1 || editing">{{userOffices[0].name}}</span>
		<select *ngIf="userOffices.length>1 && !editing" [(ngModel)]="selectedOffice">
			<option *ngFor="let officeOption of userOffices" [ngValue]="officeOption">{{officeOption.name}}</option>
		</select>
	</div>
</div>
<div *ngIf="office" class="modal-body">
	<ul style="list-style-type: none;">
	<li>{{office.name}} ({{office.type}})</li>
	<li>Held by:
		<span *ngIf="!office?.user?.membershipNumber">Vacant</span>
		<span *ngIf="office?.user?.membershipNumber">
			<a [routerLink]="['/members',office.user.id]">{{office.user.nickname}} ({{office.user.membershipNumber}})</a>
			<button type="button" class="btn btn-primary" *ngIf="!editing && selectedOffice?.roles && selectedOffice.roles.indexOf('office_assign') !== -1" (click)="confirmModal(vacateConfirm)">Vacate</button>
		</span>
	</li>
	<li *ngIf="office.email">Email: <a href="mailto:{{office.email}}">{{office.email}}</a></li>
	</ul>
</div>

<ng-template #vacateConfirm>
  <div class="modal-body text-center" *ngIf="office.user">
    <p>Are you sure you want to remove {{office.user.nickname}} as {{office.name}} and vacate this position?</p>
    <button type="button" class="btn btn-default" (click)="vacateOffice()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="confirmModalRef.hide()">No</button>
  </div>
</ng-template>