<div *ngIf="office" class="modal-header">
	<h4 class="modal-title">{{office.name}}</h4>
	<div *ngIf="userOffices && userOffices.length">
		<span *ngIf="userOffices.length==1 || editing">{{userOffices[0].name}}</span>
		<select *ngIf="userOffices.length>1 && !editing" [(ngModel)]="selectedOffice">
			<option *ngFor="let officeOption of userOffices" [ngValue]="officeOption">{{officeOption.name}}</option>
		</select>
	</div>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div *ngIf="office" class="modal-body">
	<ul style="list-style-type: none;">
	<li>{{office.name}} ({{office.type}})</li>
	<li>Held by:
		<span *ngIf="!office?.user?.membershipNumber">Vacant
			<button type="button" class="btn btn-primary" *ngIf="!editing && selectedOffice?.roles && selectedOffice.roles.indexOf('office_assign') !== -1" (click)="hireModal(hireSelect)">Hire</button>
		</span>
		<span *ngIf="office?.user?.membershipNumber">
			<a [routerLink]="['/members',office.user.id]">{{office.user.nickname}} ({{office.user.membershipNumber}})</a><br/>
			<button type="button" class="btn btn-primary" *ngIf="!editing && this.hubService.currentUserId != office.user.id && selectedOffice?.roles && selectedOffice.roles.indexOf('office_assign') !== -1" (click)="confirmModal(vacateConfirm)">Vacate</button>
			<button type="button" class="btn btn-primary" *ngIf="!editing && this.hubService.currentUserId == office.user.id" (click)="confirmModal(resignConfirm)">Resign</button>
			<button type="button" class="btn btn-primary" *ngIf="!editing && selectedOffice?.roles && selectedOffice.roles.indexOf('office_assign') !== -1" (click)="hireModal(hireSelect)">Replace</button>
		</span>
	</li>
	<li *ngIf="office.email">Email: <a href="mailto:{{office.email}}">{{office.email}}</a></li>
	</ul>
</div>

<ng-template #vacateConfirm>
	<div class="modal-body text-center" *ngIf="office.user">
		<p>Are you sure you want to remove {{office.user.nickname}} as {{office.name}} and vacate this position?</p>
		<button type="button" class="btn btn-default" (click)="vacateOffice()" >Yes</button>
		<button type="button" class="btn btn-primary" (click)="confirmModalRef.hide()">No</button>
	</div>
</ng-template>

<ng-template #resignConfirm>
	<div class="modal-body text-center" *ngIf="office.user">
		<p>Are you sure you want to resign from this position?</p>
		<button type="button" class="btn btn-default" (click)="resignOffice()" >Yes</button>
		<button type="button" class="btn btn-primary" (click)="confirmModalRef.hide()">No</button>
	</div>
</ng-template>

<ng-template #hireSelect>
	<div *ngIf="office" class="modal-header">
		<h4 class="modal-title">Select New Member For {{office.name}}</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="doneHiring()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<app-member-search defaultType="Full" [defaultOrgUnit]="orgUnit" [disabledTypes]="['None','Resigned','Expelled']" (selectedMember)="selectedHireMember=$event" *ngIf="isHiring"></app-member-search>
		
		<div *ngIf="selectedHireMember" class="text-center">
			<p>Are you sure you want to hire {{selectedHireMember.nickname}} for this position?</p>
			<button type="button" class="btn btn-default" (click)="hireOffice()" >Yes</button>
			<button type="button" class="btn btn-primary" (click)="doneHiring()">No</button>
		</div>
	</div>
</ng-template>