<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
	<li class="breadcrumb-item" aria-current="page"><a routerLink="/locations">Locations</a></li>
	<ng-container *ngIf="orgUnit?.parents?.length">
		<li class="breadcrumb-item" aria-current="page"  *ngFor="let parentItem of orgUnit.parents">
			<a [routerLink]="['/locations',parentItem.id]">{{parentItem.name}}</a>
		</li>
	</ng-container>
	<li class="breadcrumb-item active" aria-current="page"><span *ngIf="orgUnit?.name">{{orgUnit.name}}</span><span *ngIf="!orgUnit?.name">{{currentId}}</span></li>
  </ol>
</nav>
<ng-container *ngIf="orgUnit">
	<div class="alert alert-info row" *ngIf="userOffices && userOffices.length">
		<div class="col-sm-3"><span>Viewing as office:</span></div>
		<div class="col-sm-9">
			<span *ngIf="userOffices.length==1 || editing">{{userOffices[0].name}}</span>
			<select class="form-control" length=25 *ngIf="userOffices.length>1 && !editing" [(ngModel)]="selectedOffice" (change)="officePermissions(selectedOffice)">
				<option *ngFor="let officeOption of userOffices" [ngValue]="officeOption">{{officeOption.name}}</option>
			</select>
		</div>
	</div>
	<div class="card"><div class="card-body">
		<div class="card-header">
			<h1>Location: {{orgUnit.name}}</h1>
			<button type="button" class="btn btn-primary" *ngIf="!editing && selectedOffice?.roles && selectedOffice.roles.indexOf('org_update') !== -1" (click)="editOrg()">Edit</button>
		</div>
		<div *ngIf="!editing">
			<ul class="list-group">
				<li class="list-group-item"><span>Code: </span> <span>{{orgUnit.code}}</span></li>
				<li class="list-group-item"><span>Name: </span> <span>{{orgUnit.name}}</span></li>
				<li class="list-group-item"><span>Location: </span> <span>{{orgUnit.location}}</span></li>
				<li class="list-group-item"><span>Type: </span><span>{{orgUnit.type}}</span></li>
				<li class="list-group-item" *ngIf="orgUnit.venueType"><span>Venue Type: </span><span>{{orgUnit.venueType}}</span></li>
				<li class="list-group-item"><span>Website: </span> <span><a [href]="orgUnit.website" target="_blank">{{orgUnit.website}}</a></span></li>
				<li class="list-group-item" *ngIf="parentOrgUnit"><span>Parent Location: </span> <span><a [routerLink]="['/locations',parentOrgUnit.id]">{{parentOrgUnit.name}} ({{parentOrgUnit.code}})</a></span></li>
			</ul>
			<div class="card-body">
				<p>{{orgUnit.defDoc}}</p>
			</div>
			
		</div>
		<div *ngIf="editing">
			<label>Code:</label> <input type="text" [(ngModel)]="editOrgUnit.code"/><br/>
			<label>Name:</label> <input type="text" [(ngModel)]="editOrgUnit.name"/><br/>
			<label>Location:</label> <input type="text" [(ngModel)]="editOrgUnit.location"/><br/>
			<label>Website:</label> <input type="text" [(ngModel)]="editOrgUnit.website"/><br/>
			<label>Description</label> <textarea [(ngModel)]="editOrgUnit.defDoc"></textarea><br/>
			<button type="button" class="btn btn-primary" (click)="saveOrg()">Save</button>
			<button type="button" class="btn btn-secondary" (click)="cancelOrg()">Cancel</button>
		</div>
	</div></div>
	<div class="card"><div class="card-body">
		<div class="card-header"><h1>Officers</h1></div>
		<span *ngIf="!orgUnit.offices || orgUnit.offices.length == 0">None!</span>
		<ul class="list-group" *ngIf="orgUnit.offices.length">
			<li class="list-group-item" *ngFor="let office of orgUnit.offices">
				<span>{{office.name}} ({{office.type}}):</span>
				<span *ngIf="!office?.user?.membershipNumber">Vacant</span>
				<span *ngIf="office?.user?.membershipNumber"><a [routerLink]="['/members',office.user.id]">{{office.user.nickname}} ({{office.user.membershipNumber}})</a></span>
				<span *ngIf="office.email">Email: <a href="mailto:{{office.email}}">{{office.email}}</a> </span>
				<button type="button" class="btn btn-primary" *ngIf="selectedOffice && (selectedOffice.roles.indexOf('office_update') != -1 || selectedOffice.roles.indexOf('office_assign') != -1)" (click)="officerModal(office)">View</button>
			</li>
		</ul>
	</div></div>
	<div class="card" *ngIf="orgUnit.type!='Venue'"><div class="card-body">
		<div class="card-header">
			<h1>Locations in {{orgUnit.name}}</h1>
			<button type="button" class="btn btn-primary" *ngFor="let addOrgType of canAddOrgs" (click)="addOrgModal(addTemplate,addOrgType)">Add {{addOrgType}}</button>
		</div>
		<span *ngIf="!orgUnit.children || orgUnit.children.length == 0">None!</span>
		<ul class="list-group" *ngIf="orgUnit.children?.length">
			<li class="list-group-item" *ngFor="let childUnit of orgUnit.children">
				<span><a [routerLink]="['/locations',childUnit.id]">{{childUnit.name}} ({{childUnit.code}})</a></span>
			</li>
		</ul>
		
	</div></div>
	<div class="card" *ngIf="orgUnit.type!='Venue'"><div class="card-body">
		<div class="card-header">
			<h1>Members</h1>
			<button type="button" class="btn btn-primary" *ngIf="!editing && orgUnit.type!='Venue' && selectedOffice?.roles && selectedOffice.roles.indexOf('user_add') !== -1" (click)="addUserModal(addUserTemplate)">Manually Add Member</button>
		</div>
		<span *ngIf="!orgUnit.users || orgUnit.users.length == 0">None!</span>
		<ul class="list-group" *ngIf="orgUnit.users.length">
			<li class="list-group-item" *ngFor="let member of orgUnit.users">
				<span><a [routerLink]="['/members',member.id]">{{member.nickname}} ({{member.membershipNumber}})</a></span>
				<button type="button" class="btn btn-primary" *ngIf="selectedOffice && canTransferMember" (click)="transferModal(transferTemplate, member)">Transfer</button>
			</li>
		</ul>
	</div></div>
</ng-container>
<ng-template #addTemplate>
	<ng-container *ngIf="orgModel">
		<div class="modal-header">
			<h4 class="modal-title pull-left">Add New {{orgModel.type}}</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="addOrgModalRef.hide()">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="addOrgCode">Code</label>
				<div class="col-sm-10"><input type="text" class="form-control" id="addOrgCode" [(ngModel)]="orgModel.code" required/></div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="addOrgName">Name</label>
				<div class="col-sm-10"><input type="text" class="form-control" id="addOrgName" [(ngModel)]="orgModel.name" required/></div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="addOrgLocation">Location</label>
				<div class="col-sm-10"><input type="text" class="form-control" id="addOrgLocation"[(ngModel)]="orgModel.location" required/></div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="addOrgWebsite">Website</label>
				<div class="col-sm-10"><input type="text" class="form-control" id="addOrgWebsite" [(ngModel)]="orgModel.website"/></div>
			</div>
			<div class="form-group">
				<h4 *ngIf="orgModel.type=='Venue'" class="text-center">Venue Type</h4>
				<div class="row" *ngFor="let venueType of venueTypes">
					<div class="radio col-sm-2">
						<input type="radio" name="venueType" [id]="'venue_'+venueType.id" [(ngModel)]="orgModel.venueType" [value]="venueType.id"/>
					</div>
					<label class="col-sm-10" [for]="'venue_'+venueType.id"><strong>{{venueType.name}}</strong><br/>({{venueType.type}})</label>
					
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="addOrgDescription">Description</label>
				<div class="col-sm-10"><textarea class="form-control" id="addOrgDescription" [(ngModel)]="orgModel.defDoc"></textarea></div>
			</div>
			<div class="text-center">
				<button type="button" class="btn btn-primary" (click)="addOrg()">Add</button>
				<button type="button" class="btn btn-secondary" (click)="addOrgModalRef.hide()">Cancel</button>
			</div>
		</div>
	</ng-container>
</ng-template>
<ng-template #addUserTemplate>
	<ng-container *ngIf="addUserModel">
		<div class="modal-header">
			<h4 class="modal-title pull-left">Manually Add New Member</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="addUserModalRef.hide()">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="form-group row">
				<label class="col-sm-3 col-form-label" for="addUserFirstName">First Name</label>
				<div class="col-sm-9"><input type="text" class="form-control" id="addUserFirstName" aria-describedby="nameHelpBlock" [(ngModel)]="addUserModel.firstName" required/></div>
				<label class="col-sm-3 col-form-label" for="addUserLastName">Last Name</label>
				<div class="col-sm-9"><input type="text" class="form-control" id="addUserLastName" aria-describedby="nameHelpBlock" [(ngModel)]="addUserModel.lastName" required/></div>
				<small id="nameHelpBlock" class="form-text text-muted">Use first name and last name for the user's full name, for member tracking purposes.</small>
				<label class="col-sm-3 col-form-label" for="addUserNickname">Preferred Name</label>
				<div class="col-sm-9"><input type="text" class="form-control" id="addUserNickname" aria-describedby="nicknameHelpBlock" [(ngModel)]="addUserModel.nickname" required/></div>
				<small id="nicknameHelpBlock" class="form-text text-muted">Use Preferred name for how they'd like to be displayed to other users.</small>

			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label" for="addUserEmail">Address (Optional)</label>
				<div class="col-sm-9"><input type="text" class="form-control" id="addUserAddress" aria-describedby="addressHelpBlock" [(ngModel)]="addUserModel.address"/></div>
				<small id="addressHelpBlock" class="form-text text-muted">If you have the user's address add it here, otherwise it'll be set when they register.</small>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label" for="addUserLocation">Location</label>
				<label class="col-sm-9 col-form-label" id="addUserLocation">{{orgUnit.name}} ({{orgUnit.code}})</label>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label" for="addUserEmail">Email</label>
				<div class="col-sm-9"><input type="email" class="form-control" id="addUserEmail" aria-describedby="emailHelpBlock" [(ngModel)]="addUserModel.email" required/></div>
				<small id="emailHelpBlock" class="form-text text-muted">The user will need to register with the same email address.</small>
			</div>
			
			<div class="text-center">
				<button type="button" class="btn btn-primary" (click)="addUser()">Add User</button>
				<button type="button" class="btn btn-secondary" (click)="addUserModalRef.hide()">Cancel</button>
			</div>
		</div>
	</ng-container>
</ng-template>
<ng-template #transferTemplate>
	<div class="modal-header" *ngIf="transferringMember">
		<h4 class="modal-title pull-left">Transfer {{transferringMember.nickname}}</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="doneTransfer()">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" *ngIf="transferringMember">
		<app-member-transfer *ngIf="isTransferring" [member]="transferringMember" [officer]="selectedOffice" (result)="doneTransfer($event)"></app-member-transfer>
	</div>
</ng-template>
