<ng-container *ngIf="editingOffice">
	<div class="form-group">
	<label for="officeName">Office Name</label>
	<input type="text" class="form-control" id="officeName" [(ngModel)] ="editingOffice.name" required>
	</div>
	<div class="form-group">
		<label for="officeEmail">Office Email</label>
		<input type="email" class="form-control" id="officeEmail" [(ngModel)]="editingOffice.email">
	</div>
	<div class="form-group">
		<label for="officeRoles">Office Permissions</label>
		<ul *ngIf="!editingOfficeRoles && office?.roles">
			<li *ngFor="let role of office.roles">{{role}}</li>
		</ul>
		<div *ngIf="editingOfficeRoles">
			<span *ngFor="let role of editingOfficeRoles">
				<input type="checkbox" [(ngModel)]="role.checked" [disabled]="role.disabled" [id]="'role' + role.name">
				<label class="form-check-label" [for]="'role' + role.name">({{role.name}}) {{hubService.officeRoles[role.name]}}</label><br/>
			</span>
		</div>
	</div>
	  
	<button type="button" class="btn btn-default" (click)="save()" >Save</button>
	<button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
</ng-container>