<form class="form-signin" method="POST" action="#" role="form">
	<div class="form-group">
		<h2>Confirm Account Email</h2>
	</div>
	<div *ngIf="errorMessage!=null" class="alert alert-danger">
		{{ errorMessage }}
	</div>
	<div *ngIf="notFoundEmail" class="alert alert-danger">
		You'll need your username, not your email address, in order to confirm your email address or resend the confirmation code. Don't remember your username? Then just <a [routerLink] = "['/auth/register']">register again</a>!
	</div>
	<p>In order to complete login, you'll need to verify your email. You should have received an email from Auth0's WPI service with a confirmation link. Please click that link to confirm your email</p>
	<div class="form-group">
		<button (click)="resendConfirmEmail()" id="resendConfirm" type="submit"
			[disabled]=""
			class="btn btn-primary btn-block">Confirm
		</button>
		<button (click)="recheckStatus()" id="recheckStatus" type="submit"
			[disabled]=""
			class="btn btn-primary btn-block">Confirm
		</button>
	</div>
	<hr>
	<p>Can't find your code?
	<a class="btn btn-secondary" role="button" [routerLink]="['/auth/resend']">Resend Code</a>
	<a class="btn btn-secondary" role="button" [routerLink]="['/auth/register']">Register</a>
	<a class="btn btn-secondary" role="button" [routerLink]="['/auth/login']">Login</a>
	</p>
</form>
