<form class="form-signin" method="POST" action="#" role="form">
	<div class="form-group">
		<h2>Confirm Registration</h2>
	</div>
	<div *ngIf="errorMessage!=null" class="alert alert-danger">
		{{ errorMessage }}
	</div>
	<div *ngIf="notFoundEmail" class="alert alert-danger">
		You'll need your username, not your email address, in order to confirm your email address or resend the confirmation code. Don't remember your username? Then just <a [routerLink] = "['/auth/register']">register again</a>!
	</div>
	<div class="form-group row" *ngIf="!pathUsername">
		<label class="col-sm-3 control-label" for="confirmationCode">Username (<strong>NOT email</strong>)</label>
		<div class="col-sm-9">
			<input id="username" type="username" maxlength="50" class="form-control" aria-describedby="usernameHelp"
				[(ngModel)]="username" [ngModelOptions]="{standalone: true}">
			<small id="usernameHelp" class="form-text text-muted">You'll need your username, not your email address, in order to confirm your email address or resend the confirmation code. If you don't know your username, just <a [routerLink]="['/auth/register']">register again</a></small>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="confirmationCode">Confirmation Code</label>
		<div class="col-sm-9">
			<input id="confirmationCode" type="text" maxlength="50" class="form-control" aria-describedby="confirmationCodeHelp"
				[(ngModel)]="confirmationCode" [ngModelOptions]="{standalone: true}">
			<small id="confirmationCodeHelp" class="form-text text-muted">You should have an email with the confirmation code. If not, click the resend code option below</small>
		</div>
	</div>
	<div class="form-group">
		<button (click)="onConfirmRegistration()" id="confirmRegistration" type="submit"
			[disabled]="!confirmationCode || submitting"
			class="btn btn-primary btn-block">Confirm
		</button>
	</div>
	<hr>
	<p>Can't find your code?
	<a class="btn btn-secondary" role="button" [routerLink]="['/auth/resend']">Resend Code</a>
	<a class="btn btn-secondary" role="button" [routerLink]="['/auth/register']">Register</a>
	<a class="btn btn-secondary" role="button" [routerLink]="['/auth/login']">Login</a>
	</p>
</form>
