// < VARIABLES -- //

$color-primary: #232323;
$lato: 'Lato', sans-serif;

// -- VARIABLES > //

.container {
    &.ng-sidebar__content {
        margin-top: 125px;
    }
}

a,
button {
    cursor: pointer;
}

.ng-sidebar{
    background-color: $color-primary !important;
    width: 300px;
}

.nav {
    &__logo {
        margin-right: auto;
        margin-bottom: 40px;
        margin-left: auto;
        width: 175px;
    }
}

.icon-container {
    display: inline-block;
    
    &.search-svg {
        width: 16px;
        height: 16px;
    }
    
    &.pencil-svg {
        width: 13px;
        height: 13px;
        margin-right: 4px;
    }
    
    &.members-svg,
    &.locations-svg {
        vertical-align: middle;
        margin-right: 10px;
    }
    
    &.locations-svg {
        width: 18px;
        height: 18px;
    }

    &.members-svg {
        width: 18px;
        height: 18px;
    }
}

.navbar {
    .nav-link {
        padding: 0em 1em; 
    }
    
    &__offcanvas {
        padding-top: 25px;
        padding-right: 40px;
        padding-left: 40px;
        font-family: $lato;
        
        h5 {
            font-family: $lato;
        }
    }
    
    &--secondbar {
        background-color: #fff;
        top: 54px;
        border-bottom: 1px solid #ccc;
    }

    &--main {
        .icon-container {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 15px;
        }
    
        .navbar-toggle {
            background-color: transparent;
            border: 0;
            cursor: pointer;
            
            &:focus {
                outline: 0;
            }
        }
    }
    
    &__user-info {
        margin-right: 15px;
    }
}

.menu-icon {
    fill: #ffffff;
}

.ng-sidebar__backdrop {
    transform: opacity;
    opacity: .75;
    animation: fade .2s linear;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: .75 }
}

.user-icon,
.locations-icon {
    fill: #fff;
}

// Close button in offcanvas menu
.close {
    text-shadow: 0;
    
    &:focus {
        outline: 0;
        opacity: .7;
    }
}

.container {
    &__candidates {
        padding-right: 0;
        padding-left: 0;
    }
}